* {
    margin: 0; /* Remove a margem padrão de todos os elementos */
    padding: 0; /* Remove o preenchimento padrão de todos os elementos */
}

html,
body {
    width: 100%; /* Define a largura do html e do body como 100% da tela */
    height: 100%; /* Define a altura do html e do body como 100% da tela */
    background-color: rgba(233, 233, 233, 1); /* Define a cor de fundo como um cinza claro */
    font-family: 'Verdana'; /* Define a fonte padrão do corpo como Verdana */
}

main {
    font-family: Georgia, 'Times New Roman', Times, serif; /* Define a fonte do elemento main */
    background-color: rgba(233, 233, 233, 1); /* Define a cor de fundo como um cinza claro */
}


.cabecalho {
    display: flex; /* Define o cabeçalho como um container flexível */
    align-items: center; /* Alinha os itens no centro verticalmente */
    justify-content: space-between; /* Espaça os itens igualmente ao longo da linha */
    width: 100%; /* Define a largura do cabeçalho como 100% */
    height: 160px; /* Define a altura do cabeçalho */
    background-image: url('CaféPest.jpeg'); /* Define a imagem de fundo do cabeçalho */
    background-size: cover; /* Faz a imagem cobrir todo o cabeçalho */
    background-position: center; /* Centraliza a imagem de fundo */
    padding: 10px; /* Adiciona um preenchimento interno de 10px ao cabeçalho */
    position: wrap; /* Esta propriedade está incorreta e não existe. O correto seria usar 'relative' ou 'absolute'. */
}

#logo {
    background-image: url('Cafelogo.png'); /* Define a imagem de fundo da logo */
    width: 450px; /* Define a largura da logo */
    height: 115%; /* Define a altura da logo como 115% da altura do cabeçalho */
    background-size: contain; /* Ajusta a imagem para caber no espaço disponível */
    background-repeat: no-repeat; /* Não repete a imagem de fundo */
    background-position: center; /* Centraliza a imagem da logo */
    position: absolute; /* Define a posição da logo como absoluta, permitindo colocá-la em um local específico */
    left: -10px; /* Ajusta a posição da logo 10 pixels à esquerda do seu local padrão */
    z-index: 2; /* Define a profundidade da logo, garantindo que fique acima de outros elementos */
    pointer-events: none; /* Faz com que a logo não capture eventos de mouse */
}

#login {
    position: absolute; /* Define a posição do botão de login como absoluta */
    right: 100px; /* Posiciona o botão 40 pixels à direita do seu contêiner pai */
    transform: translateY(-50%); /* Centraliza verticalmente o botão de login */
    text-decoration: none; /* Remove o sublinhado do link */
    cursor: pointer; /* Muda o cursor para um ponteiro ao passar sobre o botão */
    padding: 10px 15px; /* Adiciona um preenchimento interno de 10px em cima e embaixo e 15px à esquerda e à direita */
    background-color: #fff; /* Define a cor de fundo do botão de login como branco */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
    color: #333; /* Define a cor do texto do botão como cinza escuro */
    font-weight: bold; /* Define o texto do botão como negrito */
}
#admin {
    position: absolute; /* Define a posição do botão de login como absoluta */
    right: 9px; /* Posiciona o botão 40 pixels à direita do seu contêiner pai */
    transform: translateY(-50%); /* Centraliza verticalmente o botão de login */
    text-decoration: none; /* Remove o sublinhado do link */
    cursor: pointer; /* Muda o cursor para um ponteiro ao passar sobre o botão */
    padding: 10px 10px; /* Adiciona um preenchimento interno de 10px em cima e embaixo e 15px à esquerda e à direita */
    background-color: #fff; /* Define a cor de fundo do botão de login como branco */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
    color: #333; /* Define a cor do texto do botão como cinza escuro */
    font-weight: bold; /* Define o texto do botão como negrito */
}
#formulario {
    display: flex; /* Define o formulário como um container flexível */
    align-items: center; /* Alinha os itens do formulário no centro verticalmente */
    position: absolute; /* Define a posição do formulário como absoluta */
    right: 300px; /* Posiciona o formulário 300 pixels à direita do seu contêiner pai */
}

#search-input {
    width: 400px; /* Define a largura inicial da barra de pesquisa */
    padding: 8px 12px; /* Adiciona preenchimento interno de 8px em cima e embaixo e 12px à esquerda e à direita */
    border: 2px solid #ccc; /* Define a borda da barra de pesquisa como cinza claro */
    border-radius: 5px 0 0 5px; /* Adiciona bordas arredondadas ao lado esquerdo da barra de pesquisa */
    outline: none; /* Remove o contorno padrão ao focar no campo de entrada */
    font-size: 16px; /* Define o tamanho da fonte dentro da barra de pesquisa */
    transition: width 0.3s; /* Define uma transição suave para a largura ao focar */
}

#search-input:focus {
    width: 500px; /* Aumenta a largura da barra de pesquisa para 250px ao focar */
    border-color: #666; /* Muda a cor da borda para um cinza mais escuro ao focar */
}

#buscar input[type="submit"] {
    padding: 8px 15px; /* Adiciona um preenchimento interno ao botão de enviar do formulário de busca */
    background-color: #4CAF50; /* Define a cor de fundo do botão de enviar como verde */
    color: white; /* Define a cor do texto do botão como branco */
    border: none; /* Remove a borda do botão */
    border-radius: 0 5px 5px 0; /* Adiciona bordas arredondadas ao lado direito do botão */
    cursor: pointer; /* Muda o cursor para um ponteiro ao passar sobre o botão */
    font-size: 16px; /* Define o tamanho da fonte do botão */
    transition: background-color 0.3s; /* Define uma transição suave para a cor de fundo ao passar o mouse */
}

#buscar input[type="submit"]:hover {
    background-color: #45a049; /* Muda a cor de fundo do botão ao passar o mouse */
}
/* Estilo geral para os cartões */
/* Estilo geral para os cartões */
/* Estilo para os cartões no cabeçalho */
.conteinercard{
    display: flex; /* Utiliza flexbox para alinhar os cartões em linha */
    margin: auto; /* Centraliza o contêiner */
    width: 100%; /* Faz com que o contêiner ocupe toda a largura disponível */
    max-width: 100%; /* Define uma largura máxima para não esticar demais em telas grandes */
    background-color: #fff; /* Cor de fundo ao contêiner */
    padding: 12px; /* Preenchimento ao redor dos cartões */
    justify-content: center;
    gap: 60px;
}
header .card {
    font-family: 'Verdana'; /* Define a fonte do texto dentro do cartão */
    cursor: pointer; /* Muda o cursor para um ponteiro ao passar sobre o cartão */
    margin: 10px; /* Margem de 10 pixels ao redor de cada cartão */
    display: flex; /* Utiliza flexbox para alinhar conteúdo */
    align-items: center; /* Alinha o conteúdo verticalmente no centro */
    justify-content: center; /* Alinha o conteúdo horizontalmente no centro */
    padding: 10px; /* Preenchimento interno de 12 pixels em todos os lados do cartão */
    border-radius: 5px; /* Bordas arredondadas com raio de 5 pixels */
    min-width: 0px; /* Largura mínima do cartão */
    width: 300px; /* Largura automática, ajustando-se ao conteúdo */
    outline: none; /* Remove a borda padrão */
    background-color: #f9f9f9; /* Cor de fundo clara para o cartão */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidade */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transições para animações suaves */
    border: 1px solid #000;
}

/* Estilo para o link dentro dos cartões do cabeçalho */
header .card > a {
    text-align: center; /* Centraliza o texto dentro do link */
    text-decoration: none; /* Remove o sublinhado do link */
    color: #333; /* Cor do texto do link */
    font-size: 16px; /* Tamanho da fonte do link */
    padding: 8px; /* Preenchimento ao redor do texto do link */
    transition: color 0.3s ease; /* Transição suave para a cor do texto */
}



/* Efeito de hover para o link dentro dos cartões do cabeçalho */
header .card > a:hover {
    color: #669268; /* Muda a cor do texto do link ao passar o mouse */
    font-weight: bold; /* Muda o peso da fonte para negrito */
}
.botoes {
    margin: 0;
    margin-top: 50px;
    width: 100%;
    display: flex;
}

.botoes > button {
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 25px;
}

.comprar {
    background-color: #186d28; /* Verde escuro */
    font-size: 20px; /* Tamanho do texto */
    color: #fff; /* Texto branco */
    padding: 15px 75px; /* Espessura do botão */
    border-radius: 5px; /* Arredondamento dos cantos */
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s; /* Transição suave */
}



.produto {
    display: flex;
    flex-direction: column; /* Disposição vertical */
    justify-content: space-between; /* Espaço igual entre os elementos */
    background-color: #fff; /* Fundo branco */
    width: 100%;
    max-width: 300px; /* Largura máxima para manter a harmonia */
    margin: 20px; /* Margem entre produtos */
    border: 1px solid #ddd; /* Borda clara para suavidade */
    border-radius: 8px; /* Arredondamento dos cantos */
    overflow: hidden; /* Evita overflow */
    padding: 15px; /* Preenchimento interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s, box-shadow 0.3s; /* Transição para animação ao hover */
    max-height: 700px;
    min-height: 700px;
    text-align: center;
}

.produto > img {
    width: 100%; /* Imagem ocupa toda a largura */
    height: 220px; /* Altura automática para manter proporção */
    border-radius: 8px 8px 0 0; /* Arredondamento apenas no topo */
}

.produtotext {
    display: flex;
    flex-direction: column; /* Disposição vertical */
    justify-content: space-between; /* Espaço igual entre elementos */
    padding: 15px; /* Preenchimento interno */
    flex-grow: 1; /* Permite que o texto ocupe o espaço disponível */
}

/* Estilo para título e descrição do produto */
.produtotext h1 {
    font-size: 18px; /* Tamanho do título */
    margin: 0 0 10px; /* Margem inferior */
    color: #333; /* Cor escura para contraste */
    align-items: center;
    text-align: center;
}

.produtotext p {
    font-size: 14px; /* Tamanho do texto */
    color: #666; /* Cor do texto descritivo */
    margin: 0; /* Remove margens para melhor espaçamento */
    text-align: right;
}

/* Para tornar o botão "comprar" mais harmonioso com o produto */
.comprar {
    background-color: #064d09; /* Verde consistente */
    margin-top: auto; 
}
